{% load staticfiles %}

<html>
<head>
	<title> Rama's hacking world</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page-header">
    <h1><a href="/">Rama's</a></h1>
</div>
{% if latest_question_list %}
   <ul>
   	{% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
   </ul>

 {% else %}
     <p> No polls are available.</p>

 {% endif %}
</body>
</html>